*{
  box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  background-color: #f1f1f1;
}

button, input
{
  font-size: 1.1rem;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px 9px;
  vertical-align: middle;
  height: 2.7rem;
}

button{
  background-image: linear-gradient(to bottom, #efaf3f, #e56b15);
  border: solid 1px #e35050;
  color: white;
}

.icon{
  border-radius: 50px;
  padding: 0px;
  width: 2.7rem;
  height: 2.7rem;
}

/*button:hover,
button:focus {
  background-image: linear-gradient(to bottom, #2fcbf2, #159be2);
}

button:active {
  background-image: linear-gradient(to bottom, #2fcbf7, #159ce5);
}*/

:focus{
  outline: none;
  box-shadow: 0px 0px 3px blue;
}

.navbar {
  padding: 10px 8px;
  background-image: linear-gradient(to bottom, #ffcd77, #e56b15);
}

.navbar input{
  display: inline-block;
  width: 9rem;
}

.navbar button{
  display: inline-block;
}

.container{
  padding: 15px 15px;
}

.row{
  padding: 10px 8px;
  margin: 5px 3px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: white;
  border-color: #797979;
  border-width: 1px;
  border-bottom-style: solid;
}

.row .title{
  font-weight: bold;
  margin: 3px 0px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.row .info{
  margin: 3px 0px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
  overflow-x: hidden;
}

.image{
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  padding: 7px;  
}

.pet{
  height: 70vw;
  width: 70vw;
  border-radius: 20%;
  margin: 15px auto;
}

.user{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.user-label{
  font-size: 1.5rem;
  display: inline-block;
  font-weight: bold;  
}

.user-container{
  padding: 15px 0px;
  background-image: linear-gradient(to bottom, #ffffff, #d8d8d8);
  text-align:center;
}

.array-datainput{
  width: 100%;
  text-align: center;
}

.array-datainput button{
  width: 35%;
  margin: 15px auto;  
}

.info{
  margin: 30px 5px 15px 15px;
  text-align: left;
}

.info .title{
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.edit{
  margin: 15px 0px;
  text-align: right;
}

.center{
  text-align: center;
  margin: 15px auto;
  width: 100%;
}

.fill-button{
  width: calc(100% - 3.5rem);
}

.float-right{
  float:right;
}

.center img{
  margin: auto;
}

#qrcode{
  width: 100%;
  padding: 1.5rem;
}

#qrcode img{
  max-width: 100%;
}

.alert-box{  
  border: solid 1px #ebccd1;
  background-color: #f2dede;
  border-radius: 5px;
  width: 100%;
  padding: 13px;
  margin: 4px 2px;
  box-sizing: border-box;
  text-align:left;
  color: #a94442;
}

.successful{
  background-color: lightgreen;
}

.footnote{
  font-size: 0.9rem;
  text-align: left;
  margin: 3px 10px;
  display: block;
}

#qrtag{}

.face{
  background-image: linear-gradient(-45deg, #949494, #eaeaea);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  display: inline-block;
  margin: 20px;
  vertical-align: middle;
}

.face img{
  width: 100%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .container{
    padding: 15px 70px;
  }
  
  .image{
    display: inline-block;    
  }
  
  .pet{
    width: 20vw;
    height: 20vw;    
    vertical-align: top;
    margin-right: 15px;
  }
  
  .array-data{
    display: inline-block;
    width: calc(100% - 20vw - 25px);
  }
  
  .row .title{
    display: inline-block;
    width: 20%;
  }
  
  .row .info{
    display: inline-block;
    width: 70%;
  }
  
}