<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="http://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <!--<script src="./js/html2canvas.min.js"></script>-->
</head>
<body>
    <div id="app-steempet">
        <pet-navbar></pet-navbar>
        <pet-userinfo ref="userinfo"></pet-userinfo>
        <div class="container">
            <pet-wif ref="wif"></pet-wif>
            <div v-if="!hasPet">
              <button @click="toggleNew" class="icon"><img src="images/round-search-24px.svg"></button>
              <div v-if="newPet">
                <pet-arraydatainput></pet-arraydatainput>
              </div>
            </div>
            <div v-if="editing">
                <pet-arraydatainput :pet_init="this.pet"></pet-arraydatainput>
            </div>
            <div v-else>
                <pet-arraydata :pet="this.pet"></pet-arraydata>                
                <pet-qrcode :haspet="this.tit" :haskey="this.hasKey" :validkey="this.validKey"></pet-qrcode>
            </div>
        </div>
    </div>
    <script src="./js/steem.js?1"></script>
    <script src="./js/utils.js?1"></script>
    <script src="./js/components/pet-navbar.js?1"></script>
    <script src="./js/components/pet-userinfo.js?1"></script>
    <script src="./js/components/pet-data.js?1"></script>
    <script src="./js/components/pet-wif.js?1"></script>
    <script src="./js/components/pet-qrcode.js?1"></script>
    <script src="./js/steempet.js?1"></script>
</body>	
</html>